/* COPYRIGHT PAGE*/

#copyright {
    margin-top: 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* END COPYRIGHT PAGE*/

/* PROJECTS PAGE*/

#projects-main-section {
    margin-top: 6em;
}

#projects-main-section section{
    margin: 3em;
}

#projects-main-section img{
    margin: 2em;
}

#projects-main-section h1{
    margin-bottom: 2em;
}

.projects-text-content {
    margin-left: 2em;
}


@media screen and (max-width: 660px) {
    
#projects-main-section img{
    margin: 2em 0 0 0;
}
}

/* END PROJECTS PAGE*/