@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*GENERAL STYLE*/
/*style for the entire web (font, background color and text color)*/
* {
    font-family: 'Roboto';
    color: #f8f8f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #282a36;
    background-image: url(imgs/background4_pan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*END GENERAL STYLE*/

/* TOP NAVIGATION BAR*/
/* Header -> using flexbox to set the elements in the right position*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 0 2.5em;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo a{
    display: block;
}

#logo {
    max-height: 4em;
    max-width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* The nav in the header */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*LINKS*/
/* styling the links in the navbar*/
.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5;
}

.menu li{
    list-style: none;
    padding: 1.5em 0.75em;
}

.menu li a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    transition: all 0.3s ease 0s;
}

.menu li a::after {
    content: '';
    background-color: #ff79c6;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.menu li a:hover::after {
    width: 100%;
}

.navigation li a:hover {
    color: #ff79c6;
}

/* HAMBURGER */
.hamburger {
    position: relative;
    width: 2.5em;
    height: 0.3em;
    background: #f8f8f2;
    border-radius: 2em;
    cursor: pointer;
    z-index: 2;
    right: 3em;
    transition: 0.3s;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    height: 0.3em;
    width: 2.5em;
    right: 0;
    background: #f8f8f2;
    border-radius: 2em;
    transition: 0.3s;
}


.hamburger::before {
    top: -1em;
}

.hamburger::after {
    top: 1em;
}

/* the checkbox*/
.toggle-menu{
    position: absolute;
    width: 3em;
    height: 3em;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    top: 2em;
    right: 5.8em;
    border: #ff79c6 solid 1px;
}

.toggle-menu ,.hamburger{
    display: none;
}

header input:checked ~ .hamburger {
    background: transparent;
}

header input:checked ~ .hamburger::before {
    top: 0;  
    transform: rotate(-45deg); 
    width: 2.5em;
}

header input:checked ~ .hamburger::after {
    top: 0;  
    transform: rotate(45deg); 
    width: 2.5em;
}

header input:checked ~ .menu{
    right: 0;
    box-shadow: -1em 0 2em rgba(0,0,0,0.2);
}

@media screen and (max-width: 660px) {
    .hamburger, .toggle-menu{
        display: block;
    }
    
    header{
        padding: 1em 2em;
    }

    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -15em;
        background: black;
        width: 30%;
        height: 100%;
        padding-top: 5em;
    }

    .manu li{
        width: 100%;
    }

    .manu li a{
        padding: 1em;
    }

}

/* END HAMBURGER */

/* END LINKS */

/*LOGO*/
/* seting correct values to the logo */
#logo {
    max-height: 4em;
    max-width: fit-content;
    cursor: pointer;
}

/* END LOGO */

/* END TOP NAVIGATION BAR */

/* CONTENT */
/* COMMON CONTENT STYLE */
section img {
    width: 100%;
    max-width: 25em;
}

section .img {
    max-width: 40%;
}

.content {
    margin-top: 6em;
}

section {
    background-image: linear-gradient(RGBA(40, 42, 54, 0.8), RGBA(40, 42, 54, 1));
    min-height: 37em;
    margin: 0 10%;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.spaceDiv {
    width: 2px;
    height: 5em;
}

section p {
    font-size: 1em;
    line-height: 1.8;
}

.content h1 {
    font-size: 2em;
    padding: 2em 0;
}

@media screen and (max-width: 660px) {
    section {
        flex-direction: column-reverse;
    }

    section img {
        width: 100%;
        max-width: 100%;
    }

    section .img {
        max-width: 100%;
    }
}


/* END COMMON CONTENT STYLE */
/* CONTACT */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form p {
    padding-top: 1em;
}

.input-field {
    color: #282a36;
    min-height: 2em;
    width: 69%;
    margin: 1em 0 0 1em;
    padding: 0 0.5em;
    border: solid #f8f8f2 1px;
    border-radius: 0.3em;
    outline: none;
}

form textarea {
    min-height: 6em;
}


@media screen and (max-width: 660px) {
    form div{
        flex-direction: column;
    }

    form {
        margin: -3em;
        width: 100%;
    }

    .input-field {
        width: 100%;
    }
}

/* END CONTACT */

/* END CONTENT */

/* FOOTER */

footer img {
    max-width: 3em;
}

/* END FOOTER*/