@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*GENERAL STYLE*/
/*style for the entire web (font, background color and text color)*/
* {
    font-family: 'Roboto';
    color: #f8f8f2;
}

body {
    background-color: #282a36;
    background-image: url(imgs/background4_pan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
}

/*END GENERAL STYLE*/

/* TOP NAVIGATION BAR*/
/* Header -> using flexbox to set the elements in the right position*/
header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* the nav in the header (I wanted to separate it from the footer with a class) */
.topNavbar {
    margin: 0;
    padding: 0;
}

/*LINKS*/
/* styling the links in the navbar*/
.topNavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

/* <a> style */
.topNavLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    position: relative;
    font-size: 20px;
}

/* <a> after style */
.topNavLinks li a::after {
    content: '';
    background-color: #ff79c6;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

/* <a> after hover */
.topNavLinks li a:hover::after {
    width: 100%;
}

/* a Hover for the links */
.topNavbar li a:hover {
    color: #ff79c6;
}

.topNavLinks {
    list-style: none;
}

/* HAMBURGER */
.hamburger {
    position: relative;
    width: 2.5em;
    height: 0.3em;
    background: #f8f8f2;
    border-radius: 2em;
    z-index: 2;
    right: 3em;
    transition: 0.3s;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    height: 0.3em;
    background: #f8f8f2;
    border-radius: 2em;
    transition: 0.3s;
}


.hamburger::before {
    top: -1em;
    width: 2.5em;
}

.hamburger::after {
    top: 1em;
    width: 2.5em;
}


.toggle-menu{
    position: absolute;
    width: 3em;
    height: 3em;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    top: 2em;
    right: 5.8em;
    border: #ff79c6 solid 1px;
}

.toggle-menu ,.hamburger{
    display: none;
}

header input:checked ~ .hamburger {
    background: transparent;
}

header input:checked ~ .hamburger::before {
    top: 0;  
    transform: rotate(-45deg); 
    width: 2.5em;
}

header input:checked ~ .hamburger::after {
    top: 0;  
    transform: rotate(45deg); 
    width: 2.5em;
}

header input:checked ~ nav .topNavbar{
    right: 0;
}

@media screen and (max-width: 660px) {
    .hamburger, .toggle-menu{
        display: block;
    }
    
    header{
        padding: 1em 2em;
    }

    .topNavbar{
        position: fixed;
        top: 0;
        right: -15em;
        background: black;
        width: 30%;
        height: 100%;
        padding-top: 5em;
    }

    .topNavLinks{
        justify-content: start;
        flex-direction: column;
        align-items: center;
    }

    .topNavbar li {
        padding: 1em;
    }

}

/* END HAMBURGER */

/* END LINKS */

/*LOGO*/
/* seting correct values to the logo */
#logo {
    max-height: 4em;
    max-width: fit-content;
    cursor: pointer;
}

/* END LOGO */

/* END TOP NAVIGATION BAR */

/* CONTENT */
/* COMMON CONTENT STYLE */
section img {
    max-width: 100%;
}

section .img {
    max-width: 40%;
}

.content {
    margin-top: 6em;
}

section {
    background-image: linear-gradient(RGBA(40, 42, 54, 0.8), RGBA(40, 42, 54, 1));
    height: 37em;
    margin: 0 10%;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.spaceDiv {
    width: 2px;
    height: 5em;
}

section p {
    font-size: 12px;
}

/* END COMMON CONTENT STYLE */
/* HOME */



/* END HOME */

/* END CONTENT */

/* FOOTER */

footer img {
    max-width: 3em;
}

/* END FOOTER*/